.container{
    width: 50%;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: cornflowerblue;
    box-shadow: crimson;
}

.list {
    display: flex;
    justify-content: space-around;
    padding: 5px;
 
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
}

.content{
    align-self: center;
}

.active{
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;

}

.cross{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    margin: 5px;

}
span{
    border: 1px solid black;
    color: black;
    background-color: red;
    border-radius: 50%;
    
}